<div class="container">
	<h1>Your Journals</h1>
	<h1>users#show</h1>
	<p>First Name: <%= @user.first_name %></p>
	<p>Last Name: <%= @user.last_name %></p>
	<div>
		<h2>placeholder: add a new journal</h2>
	</div>

	<div> Your Journals: <br>
		<h2>placeholder</h2>

	</div>

	<%= link_to("Update Your Profile", edit_user_registration_path) %>

	<%= link_to('Log Out', destroy_user_session_path, :method => :delete) %>
</div>
