<body class="full">
	<div class="container">
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6 col-sm-12">
				<h1 class="welcome-text text-center">MOMENT</h1>
				<h3 class="welcome-sub text-center">The days are long, but the years are short.</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur congue, libero quis consequat imperdiet, lacus quam elementum nunc, quis viverra nisi massa non urna. Nulla facilisi. Etiam vulputate commodo dui vel sollicitudin. Vivamus nulla enim, pretium non orci a, ullamcorper tincidunt lectus.</p>
			</div>	
			<div class="col-md-3"></div>
		</div>
	</div>
</body>

