<div class="container">
	<h1>Journals#edit</h1>
	<%= form_for @journal, url: journal_path, method: :put do |f| %>
		<div class="input-group">
			<%= f.text_field :title, placeholder: "Title", class: "form-control" %>
		</div>
		<div class="input-group">
			<%= f.text_area :description, placeholder: "Description", class: "form-control" %>
		</div>
		<%= f.submit "Edit Journal", class: "btn btn-primary" %>
	<% end %>
</div>
