<div class="container">
	<h1>Journals#edit</h1>
	<p>Find me in app/views/journals/edit.html.erb</p>
	
	<%= form_for @journal, url: "/users/#{params[:user_id]}/journals/#{@journal.id}" do |f| %>
		<div class="form-group">
			<%= f.text_field :title, placeholder: "Update Journal Name", class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.text_field :description, placeholder: "Update Journal Tagline", class: "form-control" %>
		</div>
		
		<%= f.submit "Create", class: "btn" %>
	<% end %>	
</div>
