<div class="container">
	<h1>journals#new</h1>
	
	<%= form_for @journal do |f| %>
		<div class="form-group">
			<%= f.text_field :title, placeholder: "Journal Title", class: "form-control" %>
		</div>
		<div class="form-group">
			<%= f.text_area :title, placeholder: "Journal Title", class: "form-control" %>
		</div>
		<%= f.submit "Create New Journal", class: "btn btn-primary" %>
	<% end %>

</div>
