<div class="container">
	<h1>Journals#show</h1>
	<%= @journal.title %>
	<%= @journal.description %>
	<div>	
		<% @moments.each do |moment| %>
			<h3>Moment Title: <%= moment.title %></h3>
			Moment Body: 
		<% end %>
	</div>
</div>
