// Place all the styles related to the journals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.journal-title {
	font-family: 'Amatic SC', cursive;
	font-size: 70px;
	font-weight: bold;
	margin: -5px 0 -5px 0;
}

.journal-description {
	margin: 5px 0 5px 0;	
}

.journal-show {
	height: 150px;
}
