<div class="container">
	<h1>Edit This Moment</h1>
	
	<%= form_for @moment, url: user_journal_moment_path, method: :put do |f| %>
		<div class="form-group">
			<%= f.text_field :title, placeholder: "Moment Title", class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.text_field :description, placeholder: "Start a memory", class: "form-control" %>
		</div>
		<%= f.submit "Edit Moment", class: "btn btn-primary" %>
	<% end %>

</div>
